
/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Josefin+Sans&family=Karma&display=swap');

@font-face {
  font-family: 'Korean Calligraphy';
  src: url(./Fonts/Korean\ Calligraphy.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Shinrinyoku';
  src: url(.//Fonts/Shinrinyoku.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Fujimaru';
  src: url(./Fonts/Fujimaru-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}




:root {
   --dark-slate-gray: #24565B;
   --snow: #F3EFF0;
   --cadet-blue: #68A2AC;
   --dark-turqoise: #33D0DA;
   --english-vermillion: #CA3E42;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
    /* border: solid greenyellow 1px; */
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* BOTONES */
  .btn {
    background: linear-gradient(110deg,var(--english-vermillion)30%, var(--cadet-blue), var(--dark-turqoise), var(--snow) );
    border-radius: 20px;
    padding: 10px;
    color: var(--snow);
    font-family: frank Ruhl libre;
    font-size: 1rem;
    font-weight: 400;
  }

  /* HEADER */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* NAVBAR */
  .header__navbar {
    position: fixed;
    margin-top: 0;
    display: flex;
    background: linear-gradient(135deg, white 35%, var(--english-vermillion));
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .navbar__logo {
    height: 70px;
  }

  .navbar__menu-icon {
    font-size: 22px;
    position:  absolute;
    right: 15px;
    color: var(--dark-slate-gray);
   }

  #menu-icon {
    display: none;
  }

  .nav-list {
    display: none;
    /* transform: translateY(-200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99); */
  }

  #menu-icon:checked + .nav-list {
    /* transform: translateY(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99); */
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: absolute;
    margin-top: 280px;
    left: 5%;
    right: 5%;
    width: 90%;
    gap: 13px;
    padding: 30px;
    border-radius: 0 0 1rem 1rem;
    border: solid 2px;
    border-top: 0px;
    border-color: var(--dark-turqoise);
    background: var(--cadet-blue);
  }

  .nav-list__item a {
    font-family: Frank Ruhl Libre;
    color: var(--snow);
    font-weight: 800;
    font-size: 18px;
    transition: all 0.5s
  }

  .nav-list__item a:hover {
    font-weight: 800;
    font-size: 20px;
    transition: all 0.5s;
  }


  /* MAIN */

  .main {
   min-height: 75vh;
   display: flex;
   flex-direction: column; 
   align-items: center;
   margin-top: 100px;
   background: linear-gradient(white 5%, var(--snow)90%, var(--english-vermillion));
  }

  /* HERO */
  .hero {
    display: grid;
    grid-template-areas: 
    "info"
    "separador"
    "user"
    "about-us";
    justify-items: center;
  }

  /* HERO. Info */
  .hero__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 20px;
  }

  .info__title, .title {
    font-family: frank Ruhl libre;
    font-size: 28px;
    font-weight: 600;
    color: var(--dark-slate-gray);
  }

  .info__title--grad {
    font-family: Shinrinyoku;
    font-size: 38px;
    background: linear-gradient(120deg,var(--english-vermillion), var(--cadet-blue), var(--dark-turqoise));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .info__slogan, .slogan {
    font-family: josefin sans;
    font-size:25px;
    font-weight: 400;
    color: var(--dark-slate-gray);
  }

  .hero__separador {
    grid-area: separador;
    background: var(--dark-slate-gray);
    height: 3px;
    width: 80%;
    border-radius: 2px;
  }

  /* HERO. Usuario */
  .hero__user {
    grid-area: user;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    gap: 15px;
  }

  .user__text {
    font-family: karma;
    font-size: 20px;
    font-weight: 300;
    color: var(--dark-slate-gray);
  }

  .user__btns-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .btn-singin {
    background: var(--cadet-blue);
  }

  /* HERO. About-us */

  .hero__about-us {
    grid-area: about-us;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 15px;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

  .about-us__title {
    font-family: frank Ruhl libre;
    font-size: 28px;
    font-weight: 600;
    color: var(--dark-slate-gray);
  }
  
  .about-us__text {
    font-family: karma;
    font-size: 15px;
    font-weight: 300;
    color: var(--dark-slate-gray);
  }

  /* PRODUCTOS */

  .products {
    margin-top: 60px;
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    gap: 20px;
  }

  .products__title {
    width: 80%;
    font-family: frank Ruhl libre;
    font-size: 28px;
    font-weight: 600;
    color: var(--dark-slate-gray);
    text-align: center;
  }

  .card {
    display: grid;
    grid-template-areas: 
    "img img"
    "title title"
    "texto texto"
    "price cart";
    justify-items: center;
    width: 270px;
    border: 2px solid;
    border-color: var(--dark-slate-gray);
    border-radius: 1rem;
    padding: 1rem;
    gap: 10px;
  }

  .card__img {
    grid-area: img;
    height: 150px;
    width: 150px;
    border-radius: 20px;
  }

  .card__title {
    grid-area: title;
    font-family: josefin sans;
    font-size: 25px;
    font-weight: 400;
    color: var(--dark-slate-gray);
  }

  .card__text {
    grid-area: texto;
    font-family: karma;
    font-size: 15px;
    font-weight: 300;
    color: var(--dark-slate-gray);
    text-align: center;
  }

  .card__price {
    grid-area: price;
    font-family: josefin sans;
    font-size: 25px;
    font-weight: 400;
    color: var(--dark-slate-gray);
  }

  .card__cart-icon {
    grid-area: cart;
    align-items: center;
    justify-content: center;
  }

  .card__cart-icon i {
    font-size: 25px;
    background: linear-gradient(120deg,var(--english-vermillion), var(--cadet-blue), var(--dark-turqoise));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .products__btn {
    margin-bottom: 30px;
    background: var(--dark-slate-gray);
    padding: 8px 15px;
  }


  /* CONTACT */

  .contact {
    margin-top: 80px;
    width: 100%;
    display: grid;
    grid-auto-rows: auto;
    align-items: center;
    justify-items: center;
    gap: 15px;
    padding-bottom: 50px;
    margin-bottom: 0px;
    /* background: linear-gradient(150deg, var(--snow) 60%, var(--english-vermillion)); */
   }

  .contact__title {
    text-align: center;
  }

  .contact__slogan {
    text-align: center;
  }

  .contact__map {
    height: 270px;
    width: 270px;
    border-radius: 20px;
  }

  .contact__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 2px;
  }

  .contact__item span {
    font-family: karma;
    font-size: 15px;
    font-weight: 300;
    color: var(--dark-slate-gray);
  }

  .contact__item i, .contact-item {
    font-size: 20px;
    background: linear-gradient(120deg,var(--english-vermillion), var(--cadet-blue), var(--dark-turqoise));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 2px;
  }

  /* FOOTER */

  .footer {
    margin-top: auto;
    padding: 5px 0 10px;
    margin-bottom: 30px;
  }

  .footer__navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .footer__navbar img {
    height: 100px;
    width: 100px;
  }

  .foot-nav-list {
    display: flex;
    gap: 15px;
  }


  /* ---------------------LOGIN----------------------- */

  .login {
    margin-top: 80px;
    margin-bottom: 100px;
    height: 100%;
    width: 85%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .login__title {
    font-size: 2rem;
  }

  .login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
  }

  .form__item {
    display: flex;
    padding: 2px;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
  }

  .form__label {
    font-family: karma;
    font-size: 18px;
    font-weight: 600;
    color: var(--dark-slate-gray);
  }

  .form__input-box {
    border: solid 2px var(--dark-slate-gray);
    border-radius: 10px;
    padding: 3px;
    width: 100%;
  }

  .form__btn {
    margin-top: 25px;
    font-size: 20px;
    padding: 5px;
    border: none;
  }

  /* ---------------------SINGIN----------------------- */

  .singin {
    width: 90%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 50px;
  }

  .singin__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
  }

